{% extends 'todo/base.html' %}
{% block title %}Create Task{% endblock %}
{% block body %}
<div style="padding-left: 280px; padding-top: 150px; text-align: left;">
     <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'todo/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}