body{
    background: white url("images/background.png");
}

.navbar{
    border-radius: 0;
    margin-top: -20px;
    position: fixed;
    border-bottom: thick solid gray;
}

.navbar-brand{
    font-family: 'satisfy', cursive;
}

